* { /* Reseteo para la pagina */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /* Estilos para el body */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

h1 { /* Estilos para el titulo */
    color: #fff;
    text-align: center;
    font-size: 2rem; 
    margin-bottom: 20px;
}

/* Estilos para la grilla y las celdas */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8px, 1fr));
    gap: 1px;
    max-width: 90vh;
    max-height: 90vh;
    padding: 10px;
}

.celdas {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #add;
    background-color: #fff;
}

/* Estilos para */ para que despues lo podamos usar el JavaScript
.color-pintado {
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    background-color: #fff;
}

.color-pintado div {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

/* Meria querys para garantizar el tamaño responsive en dispositivos pequeños. */
@media ( max-width: 600px ) {
    .grid {
        max-width: 100vh;
        max-height: 100vh;
        grid-template-columns: repeat(auto-fill, minmax(6px, 1fr));
    }

    .celdas {
        border-width: 0.5px;
    }

    h1 {
        font-size: 1.5px;
    }
}